/*---- blind class -----*/
body, header, footer, h1, h2, h3, h4, h5, h6, .card, .sub-menu-block, .homepage-howToRegister .overlay, .about-section-1, .about-section-2, .about-section-3, .why-qatar .overlay, .footer, .footer .overlay, .mainMenu .ic.menu.opened ~ .main-nav.activeMenu, .card *, 
.breadcrumb-section, .modal-body-content, .modal-header {background-color: #000000 !important; color: #FFF !important;}
img, video, iframe {
-webkit-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
  filter: gray !important; /* IE 6-9 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
}
.card, .news-category-block, .borderRounded, .borderRounded-2, .hp3-blocks-card, .homepage-mediaCenter .card .card-img-top, .management-img, .modal-content, .modal-body-content {border: 1px solid #FFF !important; border-radius: 0 !important;}

a.overlay, .overlay *, .homepage-banner .carousel-caption.tint-bg,
.hp3-blocks-card .overlay, .hp-bs-card .overlay, .homepage-successStories, .hp-ss-bg,
.map-location, .map-location .icon,  .map-location img, .about-banner .overlay {background: transparent !important; }
a, a *, .card a, .card a *, .fixedSetupBtn a {background-color: #000000 !important; color: yellow !important; }
.map-location img {filter: none !important}
.slider-btn, .fixedSetupBtn a, .btn-outline-grey, .btn-outline-white, .btn-brand, .scrollTop,
.businessServices-block .swiper-button-next, .businessServices-block .swiper-button-prev,
.homepage-banner .swiper-button-next, .homepage-banner .swiper-button-prev, .businessServices-block .swiper-button-next, .businessServices-block .swiper-button-prev, .infoCenter-block .swiper-button-next, .infoCenter-block .swiper-button-prev, .archiveNews-swiper-button
 {border: 1px solid yellow !important; background-color: #000000 !important;}

 .overlay h1, .overlay h2, .overlay h3, .overlay h4, .overlay h5, .overlay h6, .overlay a, .overlay button, .mainMenu ul.main-nav > li ul.sub-menu-lists, .news-category-block,
 .archiveNewsTabs .tabs a.current::before {background-color: #000000 !important;}
.header.fixed, .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled,
.archiveNewsTabs .tabs .swiper-slide, .pagination-section .page-item.active .page-link, .archiveNewsTabs .tabs a::before, [data-tooltip]:before {border-color: #FFF !important;}
section, header, footer {border-top: 1px solid #FFF; border-bottom: 1px solid #FFF;}

.mainMenu ul.main-nav > li > a.mega-menu > span:after {border-top-color: #FFF;}
.mainMenu ul.main-nav > li:hover > a.mega-menu span:after, .mainMenu ul.main-nav > li:focus-within > a.mega-menu span:after {border-bottom-color: #FFF;}

[data-tooltip]:before {color: #000 !important;}

a.brandColor, .brandColor a, .color-grayed a, a.color-grayed, .color-gray a, a.color-gray, 
.newsImgOverlay-card .overlay a, a i, a i.fa, a i.bi, a i.icon,
.swiper-button-next i, .swiper-button-prev i, .archiveNews-swiper-button:after, 
.modal-body-content * a, .modal-body-content a * {
    color: yellow !important;
}
.modal-header .btn-close {opacity: 1; background-color: yellow;}

.brandColor, .color-grayed, .color-gray, a.active, .active a, 
a.current, .current > a,
a.active i, .active > a i, a.current i, .current > a i,
a.active i.fa, .active a i.fa,
a.active i.bi, .active a i.bi,
a.active i.icon, .active a i.icon,
a.current i.fa, .current > a i.fa,
a.current i.bi, .current > a i.bi,
a.current i.icon, .current > a i.icon,
.swiper-button-next.swiper-button-disabled:after, .swiper-button-prev.swiper-button-disabled:after,
.pagination-section .page-item.disabled .page-link, .breadcrumb-item.active, .modal-body-content * {
    color: #FFF !important;
}

@media only screen and (min-width: 1024px) {
	.mainMenu ul.main-nav > li > div.sub-menu-block, .mainMenu ul.main-nav > li ul.sub-menu-lists {border: 1px solid #FFF !important; border-radius: 0 !important;}
}