@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400&family=Roboto:wght@100;300;400;500;700&display=swap');

html, html[dir="ltr"], [dir="ltr"] {direction: ltr;}
html[dir="rtl"], [dir="rtl"] {direction: rtl;}
body {
	font-family: 'Roboto', Arial, sans-serif; font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.font-regular {font-weight: normal;}
.font-light {font-weight: 100;}
.font-medium, .btn-outline-grey {font-weight: 500;}

[dir="rtl"], [lang="ar"] {
	font-family: "Noto Sans Arabic", sans-serif;
}
.contentRight {text-align: right;}

.scrollTop {right: 3rem;}


@media all and (min-width: 992px) {


}
@media all and (min-width: 1024px) {

}
@media all and (min-width: 1200px) {

}
@media screen and (max-width: 1359px) and (min-width: 1199px) {

}
@media all and (min-width: 1600px) { 
}

@media all and (max-width: 1023px) {


}

@media only screen and (max-width: 1023px) {

}
@media only screen and (min-width:1024px) {

}


/*# sourceMappingURL=stylesEn.css.map */