@import url("bootstrap-icons.css");
html {
    scroll-behavior: smooth;
    font-size: 16px;
    /*overflow-x: hidden;
  width: 100vw;*/
}
[dir="rtl"] {
    text-align: right;
}
[dir="ltr"] {
    text-align: left;
}

body {
    color: #000;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
a,
button,
.btn-brand,
.header-icon-box,
.header-icon-box .header-icon {
    -webkit-transition: all 400ms ease, outline 0ms;
    -moz-transition: all 400ms ease, outline 0ms;
    -ms-transition: all 400ms ease, outline 0ms;
    -o-transition: all 400ms ease, outline 0ms;
    transition: all 400ms ease, outline 0ms;
}

a {
    color: #275382;
    text-decoration: none;
}

a:hover {
    color: #8fa5bd;
    text-decoration: none;
}

input:active,
input:hover {
    outline: 0;
}
.text-bold {
    font-weight: bold !important;
}
.form-control,
.form-select {
    border-radius: 2px;
    color: #275382;
    border-color: #275382;
}
.form-control:focus,
.form-select:focus,
.form-control:active,
.form-select:active {
    border-color: #275382;
    box-shadow: none;
}
.brand-color {
    color: #453346;
}
.btn-brand, .btn-brand-light {
    border-radius: 0px;
    border: 0;
    color: #FFF;
    text-align: center;
    padding: 0.5rem 1.5rem;
    display: inline-block;
}
.btn-brand {
    background-color: #275382;
}
.btn-brand:hover,
.btn-brand:focus,
.btn-brand-light:hover,
.btn-brand-light:focus {
    color: #fff;
    text-decoration: none;
}
.btn-brand:hover,
.btn-brand:focus {
    background-color: #8fa5bd;
}
.btn-brand-light {
    background-color: #8fa5bd;
}
.btn-brand-light:hover,
.btn-brand-light:focus {
    background-color: #275382;
}
.btn-small {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
}

.table>:not(:first-child) {
    border-top-color: #8fa5bd;
}
.table tr > th {
    color: #8fa5bd;
}

/* Default styles */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.border-radius-0 {
    border-radius: 0px !important;
}
.col-container {
    display: flex;
    flex-direction: column;
}
.col-container .card {
    flex: 1;
    position: relative;
}
.inner-page {padding: 1rem 0;}
.homepage-section-1 .card, .inner-page {background-color: #fcfcff;}
.homepage-section-1 .card, .inner-page .card, .inner-page .card.main-card {
   border: solid 2px #ecf1ff;
  border-radius: 0;
  margin-bottom: 1rem;
  position: relative;
}
.homepage-section-1 .card .card, .inner-page .card {
      border: solid 2px #0088ce;
      background: #FFF;
}
.inner-page .card.main-card .card {    margin-bottom: 1rem;}
.section-button {
    text-align: right;
    margin: 1rem 0;
    position: relative;
}
.viewAllBtn, a.viewAllBtn {font-weight: normal; font-size: 0.875rem; text-transform: uppercase; color: #8fa5bd; border: 1px solid #8fa5bd; display: inline-block; padding: 0.5rem 1rem;}
.viewAllBtn:hover, a.viewAllBtn:hover {background: #8fa5bd; color: #FFF;}

.main-heading, .main-heading-o {margin-bottom: 2rem;    margin-top: 2rem;}
.main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-heading .viewAllBtn {float: right;}
.main-heading-o .searchblock {margin-top: 0.5rem; margin-bottom: 0.5rem;}
.searchblock .btn-brand-light {padding: 0.5rem 1rem; min-width: 3rem;}
.main-heading h2, .main-heading-o h2,
.homepage-policies .sub-heading h2 {
    color: #275382;
    font-size: 1.55rem;
    font-weight: 500;
    display: inline-block;
    padding-top: 0;
    margin: 0;
}
.main-heading-o {padding-bottom: 1rem;}
.main-heading-o h2 {display:  block;text-align: center; margin: auto;}
.searchblock .form-control {
    border: 0; border-radius: 0;
    border: solid 1px #ecf1ff;
    background-color: #fff;
}
.searchblock .form-control:focus {
    border: solid 1px #8fa5bd;
}

.card-heading {font-size: 1.06rem;
    font-weight: 700;
}
.card-para {color: #808080;
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 0;
}
.dateRow, .timeRow {
    color: #275382;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    font-weight: normal;
        text-transform: uppercase;
}
.dateRow i, .timeRow i {
    color: #808080;
    min-width: 1rem;
    text-align: center;
    display: inline-block;
}
.timeRow, .timeRow i {color: #8fa5bd;}
.voteTag {color: #808080; font-size: 0.875rem;
    margin-bottom: 0.25rem;
    font-weight: bold;} 
.expired {color: #d92c2c;}


.content-block .card { position: relative;}
.card-overlay {display: flex; align-items: center; justify-content: center; flex-direction: column; width: 0; opacity: 0; transition: all 0.5s;}
.card-overlay .viewAllBtn {margin: 0.5rem; border-color: #FFF; color: #FFF;}
.card-overlay .viewAllBtn:hover, .card-overlay .viewAllBtn:focus {background: #FFF; color: #0088ce;}
.content-block .card:hover .card-overlay {width: 100%; opacity: 1;   background-color: rgb(0 136 206 / 70%);
}

.borderRadius {
    border-radius: 10px !important;
}

.header {
    position: relative;
    z-index: 3;
    background-color: #fff;

}
.header .logo {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.header .logo img {
    max-width: 100%;
    height: 70px;
    transition: all 0.5s;
}
.header-top-part {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.header-top-part a {
    font-size: 0.875rem;
    margin: 0 0.25rem;
}
/*.borderShadow {
    border-radius: 10px !important;
    box-shadow: 0 20px 50px 0 rgb(128 128 128 / 20%);
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: inline-block;
    padding: 0px;
    line-height: 2.5rem;
}*/
.lang-btn, .header-icon-box, .profile-field {display: inline-block; padding: 0.025rem; min-width: 2.5rem; }

.header-top-part a.lang-btn {color: #8fa5bd; text-align: center; font-weight: 500;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #CCC;
    margin-right: 0.5rem;
    padding: 0 1rem;
}
.header-top-part a.lang-btn:hover {color: #275382;}
.header-icon-box {
    line-height: normal;
    display: inline-flex;
    align-items: center;
    border:  1px solid #275382;
    color: #275382;
    text-transform: uppercase;
    font-weight: 600;
}
.header-icon-box:hover {
    cursor: default;
    text-decoration: none;
    color: #8fa5bd;
}
.header-icon {
    padding: 0 10px;
}
.header-icon > img { max-height: 1rem;
}

.header-text {
    padding: 0 0.75rem;
    font-size: 0.875rem;
}
.headerIconBorder-left {border-left: solid 1px #c6c6c6;}
.headerIconBorder-right {border-right: solid 1px #c6c6c6;}
.lang-icon,
.lang-icon .btn-link {
    color: #275382;
    text-decoration: none;
}
.lang-icon button {
    display: inline-flex;
    align-items: center;
    outline: 0;
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0;
}
.lang-icon button.dropdown-toggle::after {margin-left: 0.5rem; }
.lang-icon button.dropdown-toggle { border-radius: 0; }
.lang-icon img,
.lang-icon .dropdown-item {
    margin: 0 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
}
.lang-icon .dropdown-item:hover,
.lang-icon .dropdown-item:focus,
.lang-icon .dropdown-item:active,
.lang-icon.btn-check:focus + .btn,
.lang-icon .btn:focus {
    outline: 0;
    box-shadow: none;
}
.lang-icon .dropdown-item  {
    background: transparent;
    outline: 0;
        margin: 0.25rem 0;
    border-radius: 10px;
    line-height: 1.5rem;
}
.lang-icon .dropdown-item:hover,
.lang-icon .dropdown-item:focus,
.lang-icon .dropdown-item:active {
    color: #8fa5bd;
    outline: 0;

}
.dropdown-menu {
    min-width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #275382;
    border: 1px solid #275382;
    border-radius: 0;
}
.search-field,
.search-icon,
.lang-icon {
    display: inline-block;
}
.search-field .form-control {
    width: 0px;
    opacity: 0;
    min-height: 42px;
}
.search-field .form-control.showSearch {
    width: 100%;
    opacity: 1;
}
.search-field {
    position: relative;
}
.search-icon {
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    color: #275382 !important;
    font-size: 1.25rem !important;
}
.search-icon:hover {color: #8fa5bd !important;}

.profile-field img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.hbku-menu {background: #275382;}
.hbku-menu .navbar {
    padding-top: 0;
    padding-bottom: 0;
} 
.hbku-menu .nav-link {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: normal;
    padding: 0.75rem !important;
}
.hbku-menu .nav-item {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
   
}
.hbku-menu li { position: relative;
     transition: all 0.5s;}
.hbku-menu .nav-link:hover,
.hbku-menu .nav-link.active,
.hbku-menu .nav-item:hover .nav-link,
.hbku-menu .nav-item:focus-within .nav-link
 {
    color: #8fa5bd;
    border-bottom: 3px solid #8fa5bd;
}

.hbku-menu li > .nav-dropdown {position: absolute; width: 100%; min-width: 12rem; background-color: #275382; padding: 0.5rem 0;   
opacity: 0; visibility: hidden;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}
.hbku-menu li > .nav-dropdown li > .nav-dropdown {left: 100%; top: 0;}
.hbku-menu  li:hover > .nav-dropdown,
.hbku-menu  li:focus-within > .nav-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.hbku-menu  li > .nav-dropdown a {color: #FFF; display: block; padding: 0.5rem 1rem; position: relative;}
.hbku-menu  li > .nav-dropdown a:hover, .hbku-menu .nav-item .nav-dropdown a:focus {color: #FFF;}
.hbku-menu  li > .nav-dropdown li:before {content: "";
    position: absolute;
    z-index: -1;
    width: 0px;
    height: 100%;
    background: #8fa5bd;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.hbku-menu  li > .nav-dropdown li:hover:before, .hbku-menu .nav-item .nav-dropdown li:focus:before {
    width: 100%;
}
.hbku-menu  li > .nav-dropdown ul {list-style: none; padding: 0; margin: 0;}

.homepage-banner {margin-top: 2rem; margin-bottom: 2rem;}
.homepage-banner .controls {position: relative; text-align: right;}
.banner-content {  background-color: #ecf1ff; padding: 3rem; }
.banner-content h2 {font-size: 1.5rem; color: #275382; font-weight: 700;}
.banner-content h3 {text-transform: uppercase; font-size: 1rem; color: #275382;}
.banner-content p {margin: 0;   color: #808080; font-size: 0.875rem;} 
.homepage-banner,
.homepage-ad {
    position: relative;
}


.news-card h3 a:hover,
.homepage-policies h3 a:hover {
    color: #8fa5bd;
}
.news-card p {
    line-height: 1.5;
    font-size: 0.75rem;
    font-weight: 300;
        margin: 0;
}

.news-card {
    position: relative;
    margin-bottom: 0.5rem;
}
.news-card .news-img {
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.news-card .news-body .dateRow {
    margin-top: 1rem;
}
.news-body .dateRow {
    text-transform: uppercase;
    font-size: 0.875rem;
}
.news-body a {font-weight: 600; margin-top: 0.5rem;}
.news-body a:hover {
    color: #0088ce;
}

.card .card-tag {position: absolute;   background-color: #0088ce; top: 0; right: 0; padding: 0.15rem 0.5rem; font-size: 0.875rem; color: #FFF;}

.readmore {text-transform: uppercase; font-weight: 600;}
.homepage-events .dateRow {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}
.homepage-events h3 {margin-top: 0; font-size: 1.33rem;}
.homepage-events p { font-size: 0.875rem; font-weight: 200;}
.events-blocks-img {object-fit: cover;}
.event-card {padding: 1.5rem;}

#owl-carousel4 .owl-item img {
    object-fit: cover;
}
.eventImgBox {position: relative;}
.eventDate {position: absolute; width: 3rem; height: 3rem;  bottom: 0; left: 0; padding: 0.25rem; font-weight: 700; font-size: 1rem; background-color: #0088ce; color: #FFF; text-align: center; display: flex; align-items: center; justify-content: center; line-height: normal;}

.qlink-card {  box-shadow: 0 19px 33px 0 rgba(111, 109, 113, 0.13);
  background-color: #fff;
  border-radius: 0;
  border:  0;
}
.qlink-card .card-heading {margin: 0;}
.homepage-section-1 { 
   /* background: url(../img/maincontent-bg.svg) bottom left no-repeat;
    background-size: contain; */
    padding-bottom: 2rem;
}
.homepage-directory {margin-top: 4rem;}
.homepage-directory .main-heading, 
.homepage-departments .main-heading  {text-align: center;}
.homepage-departments .departments-blocks, 
.homepage-directory .directory-blocks {padding: 1rem 5rem; margin-bottom: 2rem;}
.directory-img {object-fit: cover;}
.directory-card h3 {color: #275382; font-size: 1rem; font-weight: 500; margin-bottom: 0.25rem; margin-top: 0.75rem;}
.directory-card p {color: #808080; font-weight: normal; font-size: 0.875rem;}
.directory-img-block {
    position: relative;
    transition: all 0.5s;
}
.directory-img-block .directory-overlay {
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0;
    background: rgba(0, 136, 206, 0.6);
    padding: 0.5rem;
    color: #FFF;
    text-align: right;
    transition: all 0.5s;
}
.directory-img-block .directory-overlay p {display: none; color: #FFF;}
.directory-img-block .directory-overlay strong {display: inline-block; padding: 0.25rem;}
.directory-img-block:hover .directory-overlay {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.directory-img-block:hover .directory-overlay p {display: flex;}

.departments-blocks .directory-card {position: relative;}
.departments-blocks .directory-body, .departments-blocks a.directory-body {position: absolute; width: 100%; height: 100%; top: 0; display: flex; align-items: center; justify-content: center;   background-color: rgba(0, 136, 206, 0.5); color: #FFF; padding: 1rem; text-align: center; transition: all 0.5s;}
.departments-blocks .directory-body:hover {background-color: rgba(0, 136, 206, 0.75);}
.departments-blocks .directory-body h3 { font-size: 1.125rem; line-height: 1.28; text-transform: uppercase; font-weight: 700; color: #FFF; }

.homepage-departments .nav-pills li {margin: 0.25rem}
.homepage-departments .nav-pills .nav-link {border-radius: 0; font-size: 0.875rem; text-transform: uppercase;  border: solid 1px #8fa5bd; color: #8fa5bd; }
.homepage-departments .nav-pills .nav-link.active, 
.homepage-departments .nav-pills .show>.nav-link {background: #8fa5bd; color: #FFF;}

.homepage-departments .owl-stage-outer {z-index: 1;}
.homepage-directory .owl-nav, .homepage-departments .owl-nav {
        z-index: 0;
    width: calc(100% + 10rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -5rem;
    top: calc(50% - 2rem);
    position: absolute;
}
.homepage-directory .owl-nav {top: calc(50% - 4rem);}
.carousel-control {
    width: 3rem;
    padding: 0;
    margin: 0;
    border: solid 1px #8fa5bd;
    color: #8fa5bd;
    background: #FFF;
    height: 3rem;
    display: inline-block;
    top: calc(50% - 3rem);
    opacity: 1;
}
.carousel-control.carousel-control-prev {left: -5rem;}
.carousel-control.carousel-control-next {right: -5rem;}
.carousel-control:focus, 
.carousel-control:hover {
    color: #FFF;
    background: #8fa5bd;
}

.homepage-links {  background-color: #ecf1ff; padding-top: 1rem; padding-bottom: 0rem;
}
.poll-block {  background-color: #0088ce;}
.poll-block .card, .qlink-card {border: 0; background-color: transparent; box-shadow: none;}
.qlink-card {margin-bottom: 1rem;   border: solid 2px #0088ce;
}

.poll-box {min-height: 20rem;}
.poll-list .form-group {margin-bottom: 0.5rem;}
.poll-list .poll-label {color: #FFF;}
.poll-box .progress {background-color: #8fa5bd}
.poll-box .progress-bar {background-color: #275382;}

.homepage-section-2 { 
    padding: 3rem 0;
    background: url(../img/above-footer-bg.svg) top left no-repeat;
    background-size: contain;
     background-color: #0e0645;
}
.homepage-section-2 .main-heading h2 {text-transform: uppercase; color: #FFF;}
.homepage-section-2 .card {background: transparent; color: #FFF;}
.homepage-section-2 .dateRow, .homepage-section-2 .typeBadge {color: #8fa5bd;
    text-transform: uppercase;
    font-weight: 600;
}
.poll-box h3 {font-size: 1rem; letter-spacing: 1px;
  color: #FFF; text-transform: uppercase; font-weight: normal; margin-bottom: 1rem;}
.poll-box h4 {font-size: 1.5rem; color: #fff; font-weight: 500; margin-bottom: 1.5rem;}
.poll-box .btn-brand {text-transform: uppercase; margin-top: 0.5rem;}

.poll-box .form-check .form-check-input {
    float: right;
    margin-left: 0;
    margin-right: -1.5em;
}
.poll-box .form-check {
    padding-right: 1.5em;
    padding-left: initial;
    min-height: 1.75rem;
    margin-bottom: 0.5rem;
}
.poll-box .form-check-label {
    font-size: 0.875rem;
        color: #FFF;
}
.poll-box .form-check-input:checked {
    background-color: #fff;
    border-color: #49b7df;
}
.poll-box .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
}
.poll-box .form-check-input:focus {
    box-shadow: none;
}
.poll-box .form-check-input:checked[type="radio"] {
    background-image: url("../img/checked.svg");
}
.homepage-section-2 .typeBadge {text-align: right;}
.homepage-section-2 .card-heading, .homepage-section-2 a {color: #FFF;}

/* Innerpage */
.breadcrumb-section {padding-top: 0.5rem; padding-bottom: 0.5rem; border-bottom: 1px solid #d8def0; background: transparent; position: relative; z-index: 1;}
.breadcrumb-section .breadcrumb {margin-bottom: 0; font-size: 0.875rem; font-weight: normal;}
.detailspage-banner {background-color: #ecf1ff; padding-bottom: 1rem; margin-bottom: 1rem;}
.inner-page-banner, .detailspage-banner-withImage {position: relative;}
.inner-page-banner .breadcrumb-section,
 .detailspage-banner-withImage .detailspage-banner {position: absolute; top: 0; width: 100%; height: auto;   background-color: rgb(30 22 86 / 50%); border: 0;
}
.inner-page-banner .breadcrumb-section .breadcrumb,
.inner-page-banner .breadcrumb-section .breadcrumb a,
.detailspage-banner-withImage .breadcrumb,
.detailspage-banner-withImage .breadcrumb a,
 .detailspage-banner-withImage .main-heading-o * {color: #FFF;}
.inner-page-banner .breadcrumb-item.active,
.inner-page-banner .breadcrumb-item+.breadcrumb-item::before,
.detailspage-banner-withImage .breadcrumb-item.active,
.detailspage-banner-withImage .breadcrumb-item+.breadcrumb-item::before {
    color: #c6c6c6;
}
.inner-page-banner-img {height: 15rem; width: 100%; object-fit: cover;}
 .detailspage-banner-withImage .detailspage-banner {
     height: 100%;   background-color: rgb(0 136 206 / 65%);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.inner-page .card, .inner-page .news-card {margin-bottom: 2rem; background: transparent;} 
.inner-page .directory-card {margin-bottom: 1.5rem;}
.inner-page .detailspage-head {margin-top: -4rem; position: relative; z-index: 0; padding-top: 6rem; }
.detailspage-head {background-color: #ecf1ff; 
 margin-bottom: 1.5rem; padding: 2.5rem 0 1.5rem 0;}
.detailspage-head .main-heading-o,
 .detailspage-banner-withImage .main-heading-o {margin: 0; padding: 0;}
.detailspage-body .main-heading-o,
.detailspage-banner .main-heading-o {
    padding-bottom: 0;
}
.detailspage-head .main-heading-o h2,
.detailspage-body .main-heading-o h2,
.detailspage-banner  .main-heading-o h2 {text-align: left; margin-bottom: 0.5rem;}
.detailspage-head .card-para, 
.detailspage-body .card-para {color: #275382;}
.detailspage-head .card-para, 
.detailspage-body .card-para,
.detailspage-banner .card-para {font-size: 1rem;}
.eventIcon {border: solid 1px #ecf1ff; background-color: #fcfcff; display: inline-block; padding: 0.5rem 1rem; color: #8fa5bd; font-size: 1.5rem; min-width: 3.6rem; text-align: center; margin: 0.5rem 0;}
.eventSchedule {margin-top: 1rem;}
.eventSchedule .dateRow, .eventSchedule .timeRow {font-weight: bold; }

.paging-section {padding: 2rem 0;}
.paging-section .page-item, .paging-section .page-item .page-link {  background-color: transparent;}
.paging-section .page-item .page-link {border: 0; color: #275382;
    margin: 0.25rem;
    font-size: 0.75rem;
}
.paging-section .page-item.active .page-link,
.paging-section .page-item .page-link:hover {
    z-index: 3;
    color: #0088ce;
    background-color: rgb(91 198 232 / 35%);
    border-color: transparent;
    border-radius: 0px;
    font-weight: bold;
}
.paging-section .page-item.page-item-first,
.paging-section .page-item.page-item-last {border-radius: 0;}
.page-item.page-item-first .page-link, .page-item.page-item-last .page-link {  border-radius: 0px;
    color: #FFF;
    border: 1px solid #8fa5bd;
    background:  transparent;
    font-size: 1.25rem;
    margin: 0;
    color: #8fa5bd;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.page-item.page-item-first .page-link:hover, .page-item.page-item-last .page-link:hover {border-radius: 0px; background:  #8fa5bd; color: #FFF;}
.page-item.page-item-first.disabled .page-link {background-color: #FFF; color: #808080; border: solid 1px #c6c6c6}


.footer {
    /*background: url(../img/footer-bg-02.svg) top left no-repeat, url(../img/footer-right.svg) 95% 15% no-repeat, url("../img/anouncements-block-bg1.svg") no-repeat 3rem 1.5rem;*/
    background-size: auto, auto, auto;
    background-color: #275382;
}
.footer a {
    color: #fff;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.footer a:hover {
    text-decoration: underline;
    color: #8fa5bd;
}
.footerLink-col {border-right: solid 1px rgb(198 198 198 / 15%); margin-top: 1rem;}
.footerLink-col:last-child {border: 0;}
.footer h4 {
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
    position: relative;
    padding-bottom: 0.5rem;
    transition: all 0.25s;
    cursor: default;
    display: inline-block;
}
.footer h4::before {content: " "; position: absolute; bottom: 0; height: 2px; width: 1rem; background-color: #8fa5bd; transition: all 0.25s;}
.footer h4:hover::before { width: 100%;}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
}
.footer .footer-overlay {
    padding: 2rem 0;
    /* background: rgb(0 144 206 / 37%); */
    color: #fff;
}
.copyright {
    color: rgba(255, 255, 255, 0.95);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: right;
}
.socialIcons {text-align: center;}
.socialIcons, .copyright {margin-top: 1rem;}
.socialIcons a {
    margin-right: 0.25rem;
    font-size: 1.5rem;
    line-height: 0;
}

.header.fixed {position: fixed; top: 0; width: 100%; box-shadow: -1px 3px 5px 0px rgb(0 0 0 / 20%);}
.header.fixed .logo img {
    height: 50px;
    transition: all 1s;
}
.wrapperSticky {padding-top: 150px;}
.modalCloseIcon {position: absolute; top: -2rem; right: -3rem; font-size: 2.5rem; font-weight: bold; color: #FFF; cursor: pointer;}

.bounce {
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
    from {
        transform: translateY(0px);
        transform: scale(1);
    }
    to {
        transform: translateY(-10px);
        transform: scale(1.5);
    }
}
@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
        transform: scale(1);
    }
    to {
        transform: translateY(-10px);
        transform: scale(1.1);
    }
}

/* Owl Carousel */
.owl-theme .owl-dots .owl-dot span {
    background: #eaeaea;
    }
.owl-theme .owl-dots .owl-dot.active span {
    background: #8fa5bd;
}

/* End */

/* Media Queries */
@media all and (min-width: 576px) {
}
@media all and (min-width: 768px) {
}

@media all and (min-width: 992px) {
    .banner-content { padding-right: 40%; }
}

@media all and (min-width: 1024px) {
    .poll-block {margin-top: -5rem;}
    .homepage-links { margin-top: 7rem; }

    .homepage-directory .main-heading, 
    .homepage-departments .main-heading  {display: block; text-align: center; position: relative;}
    .homepage-directory .main-heading .viewAllBtn,
    .homepage-departments .main-heading .viewAllBtn {position: absolute; right: 0;}
}

@media all and (min-width: 1200px) {
    .hbku-menu  li > .nav-dropdown li.with-dropdown:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 0px;
        height: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #FFF;
        margin: 0.75rem;
        transition: all 0.5s;
    }
    .hbku-menu  li > .nav-dropdown li.with-dropdown  .nav-dropdown {
            min-width: max-content;
    }
}

@media screen and (max-width: 1359px) and (min-width: 1199px) {
}

@media all and (min-width: 1440px) {
    .container,
    container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1200px;
    }
}

@media all and (min-width: 1600px) {
    .container,
    container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1320px;
    }
}

@media all and (min-width: 1920px) {
    html {
        font-size: 18px;
    }
    .container,
    container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1480px;
    }
}


@media all and (max-width: 1199px) {
    .homepage-banner .carousel-item > img {
        min-height: 15rem;
    }
    .homepage-anouncements {
        margin-top: 0;        
    }
    .anouncements-blocks {padding-top: 2rem;}
    .header-top-part {padding-top:  0}
    .navbar-toggler {
        width: 100%;
        text-align: right;
        background: #275382;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0;
    }
    .navbar-toggler:focus {box-shadow:  none;}
    .navbar-toggler[aria-expanded="false"] .fa-times,
    .navbar-toggler[aria-expanded="true"] .fa-bars {
        display: none;
    }
    .navbar-toggler[aria-expanded="true"] .fa-times,
    .navbar-toggler[aria-expanded="false"] .fa-bars {
        display: inline-block;
    }
    .homepage-section-2 {
    background: url(../img/above-footer-bg.svg) top left no-repeat;
    background-size: cover;
    background-color: #0e0645;
    }
    
    .copyright,
    .socialIcons {text-align: left;}
    .header-top-part .header-icon-box {margin-bottom: 0.5rem;}
    .headerRightPart {text-align: center;}

    .navbar-collapse {max-height: 75vh; overflow: auto;}
    .with-dropdown:after {content:  " + "; position: absolute; right: 0; top: 0; width: 2rem; height: 2rem; display: flex; align-items: center; justify-content: center; background-color: #FFF; color: #275382; margin: 0.5rem 0;}
    .with-dropdown[aria-expanded="true"]:after {content:  " - ";}
    .hbku-menu li > .nav-dropdown {position: relative; display: none;}
    /* .hbku-menu  li:hover > .nav-dropdown {display: block;} */
    .hbku-menu .nav-link.active, .hbku-menu .nav-item:hover .nav-link, .hbku-menu .nav-item:focus-within .nav-link {border: 0;}
    .hbku-menu .nav-dropdown.showSubMenu {
        display: block;
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .hbku-menu li, .hbku-menu .nav-item {padding-right: 2.5rem !important;}
    .hbku-menu li > .nav-dropdown li:before {background: none;}
    .hbku-menu li > .nav-dropdown li > .nav-dropdown {left: 0;}
}

@media all and (max-width: 1023px) {
}

@media all and (max-width: 991px) {
    .search-field {
        margin-top: 0.5rem;
    }

}

@media all and (max-width: 767px) {
    .card .card-tag {top: auto; bottom: 0;}
    .homepage-departments .nav-pills .nav-link {padding: 0.5rem;}
}

@media all and (max-width: 575px) {
}





/* Scroll Button
.scrollTop {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 2.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    top: -1.5rem;
    position: absolute;
    color: #453346;
    box-shadow: 0 2px 14px 0 rgba(88, 88, 88, 0.1);
    background-color: #e8e2e5;
  }
.scrollTop:hover, .scrollTop:focus {
  color: #e8e2e5;
    box-shadow: 0 2px 14px 0 rgba(88, 88, 88, 0.25);
    background-color: #453346;
}
 */
/* Accessibility Styles
#bright-off, .active #bright-on {display: none !important;}
#bright-on, .active #bright-off {display: block !important;}
.accessOpen > a > i {font-weight: bold; font-size: 1.15rem; }
.skipNav {
  position: absolute;
  top: 5px;
  z-index: 999;
  background: transparent !important;
}
.skipNav .skipLink {
  opacity: 0;
  background: rgb(69 51 70 / 80%);
  padding: 5px 15px;
  border: 0;
  color: #FFF;
}
.skipNav .skipLink:focus {
  opacity: 1;
}
html[dir="ltr"] .skipNav .skipLink.ar, html[lang="en-US"] .skipNav .skipLink.ar {display: none;}
html[dir="rtl"] .skipNav .skipLink.en, html[lang="ar"] .skipNav .skipLink.en {display: none;}

a:hover, a:focus {text-decoration: underline;}
*[role="button"]:focus, a:focus, button:focus {
  outline: blue solid 2px !important;
}
 */

/*# sourceMappingURL=styles.css.map */
