﻿@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400&family=Roboto:wght@100;300;400;500;700&display=swap');
html {unicode-range:U+0600-06FF;}
html, html[dir="rtl"], [dir="rtl"] {direction: rtl;}
html[dir="ltr"], [dir="ltr"] {direction: ltr;}
body {
	font-family: "Noto Sans Arabic", sans-serif; font-weight: normal;
}
h1, h2, h3, h4, h5, h6,
.pagination-section .page-item, .pagination-section .page-item .page-link {
  font-weight: bold;
}
.font-regular {font-weight: normal;}
.font-light {font-weight: 300;}
.font-medium, .btn-outline-grey {font-weight: 500;}
[dir="ltr"], [lang="en"] {
  font-family: "Roboto", sans-serif; 
}

.bi-arrow-right-short::before, .bi-arrow-left-short::before
 {transform: rotateZ(180deg) !important;}
 .bi-box-arrow-up-right::before {transform: rotateZ(270deg) !important;}
.fa.fa-wheelchair,
.fa.fa-eye,
.fa.fa-eye-slash,
.fa.fa-search-plus,
.fa.fa-search-minus,
.fa.fa-search-undo,
.bi-search::before, .address-column .address-icon,
.archiveNews-swiper-button-prev,
.archiveNews-swiper-button-next,
.tabs-result .swiper-button-prev,
.tabs-result .swiper-button-next, .icon-link:before {
  transform: scaleX(-1);
}
.homepage-banner-swiper-pagination-numbers {padding-left: 4rem;}
.homepage-banner-swiper-pagination {padding-right: 4rem;}

.homepage-banner .swiper-button-next{
  left: 40%;
}
.homepage-banner .swiper-button-prev{
  right: 40%;
} 
.homepage-banner .overlay { 
    background-position: top right;
    text-align: right;
}
.main-heading::after {right: 0;}

.contentRight {text-align: left;}

.scrollTop {left: 3rem;}


@media all and (min-width: 992px) {

}
@media all and (min-width: 1024px) {

}
@media all and (min-width: 1200px) {

}
@media screen and (max-width: 1359px) and (min-width: 1199px) {

}
@media all and (min-width: 1600px) { 

}
@media all and (max-width: 1023px) {
.homepage-banner .swiper-button-next{left: 20%;}
.homepage-banner .swiper-button-prev{right: 20%;}
}

@media only screen and (max-width: 1023px) {

}
@media only screen and (min-width:1024px) {

}

/*# sourceMappingURL=stylesAr.css.map */