@font-face {
  font-family: 'tpq-icons';
  src:  url('tpq-icons/tpq.eot?attam6');
  src:  url('tpq-icons/tpq.eot?attam6#iefix') format('embedded-opentype'),
    url('tpq-icons/tpq.ttf?attam6') format('truetype'),
    url('tpq-icons/tpq.woff?attam6') format('woff'),
    url('tpq-icons/tpq.svg?attam6#qfc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tpq-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qfc-map-pin .path1:before {
  content: "\e908";
}
.icon-qfc-map-pin .path2:before {
  content: "\e909";
  margin-left: -0.8662109375em;
  color: rgb(255, 255, 255);
}
.icon-qfc-map-pin .path3:before, 
.icon-qfc-map-pin .path4:before, 
.icon-qfc-map-pin .path5:before, 
.icon-qfc-map-pin .path6:before, 
.icon-qfc-map-pin .path7:before, 
.icon-qfc-map-pin .path8:before, 
.icon-qfc-map-pin .path9:before, 
.icon-qfc-map-pin .path10:before, 
.icon-qfc-map-pin .path11:before, 
.icon-qfc-map-pin .path12:before, 
.icon-qfc-map-pin .path13:before, 
.icon-qfc-map-pin .path14:before, 
.icon-qfc-map-pin .path15:before, 
.icon-qfc-map-pin .path16:before, 
.icon-qfc-map-pin .path17:before, 
.icon-qfc-map-pin .path18:before, 
.icon-qfc-map-pin .path19:before {color: rgb(0, 0, 0);}
.icon-qfc-map-pin .path3:before {
  content: "\e90a";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path4:before {
  content: "\e90b";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path5:before {
  content: "\e90c";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path6:before {
  content: "\e90d";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path7:before {
  content: "\e90e";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path8:before {
  content: "\e90f";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path9:before {
  content: "\e910";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path10:before {
  content: "\e911";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path11:before {
  content: "\e912";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path12:before {
  content: "\e913";
  margin-left: -0.8662109375em;
  color: rgb(100, 71, 100);
}
.icon-qfc-map-pin .path13:before {
  content: "\e914";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path14:before {
  content: "\e915";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path15:before {
  content: "\e916";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path16:before {
  content: "\e917";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path17:before {
  content: "\e918";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path18:before {
  content: "\e919";
  margin-left: -0.8662109375em;
}
.icon-qfc-map-pin .path19:before {
  content: "\e91a";
  margin-left: -0.8662109375em;
}
.icon-calendar:before {
  content: "\e901";
}
.icon-certificate:before {
  content: "\e902";
}
.icon-complete-form:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-online:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}
.icon-location-pin:before {
  content: "\e907";
}
.icon-business:before { 
  content: "\e91b"; 
}
.icon-connectivity:before {
  content: "\e91c";
}
.icon-doha:before {
  content: "\e91e";
}
.icon-economy:before {
  content: "\e91f";
}
.icon-family:before {
  content: "\e920";
}
.icon-infrastructure:before {
  content: "\e922";
}
.icon-knowledge:before {
  content: "\e923";
}
.icon-lifestyle:before {
  content: "\e924";
}
.icon-link:before {
  content: "\e925";
}
.icon-market:before {
  content: "\e926";
}
.icon-safety:before {
  content: "\e928";
}
.icon-healthcare:before {
  content: "\e900";
}
.icon-purchasing:before {
  content: "\e932";
}
.icon-covid:before {
  content: "\e936";
}
.icon-faq:before {
  content: "\e937";
}
.icon-reports:before {
  content: "\e938";
}
.icon-finance:before {
  content: "\e939";
}
.icon-digital:before {
  content: "\e93a";
}
.icon-media:before {
  content: "\e944";
}
.icon-sports:before {
  content: "\e946";
}
.icon-search:before {
  content: "\e947";
}
.icon-tourism:before {
  content: "\e948";
}
