/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
/*Variables*/
/*Helpers*/
/*main-styles*/
.mrg0 {
  margin: 0 !important;
}

.mrg10 {
  margin: 10px !important;
}

.mrg20 {
  margin: 20px !important;
}

.pad0 {
  padding: 0 !important;
}

.pad10 {
  padding: 10px !important;
}

.pad20 {
  padding: 20px !important;
}

.relative {
  position: relative !important;
}

body {
  font-family: "Poppins", san-serif;
  color: #4a4a4a;
}

header {
  position: relative;
}

header .navbar-brand {
  width: 96px;
  height: 110px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header .upper-social {
  height: 60px;
  border-bottom: 1px solid #ededed;
}

header .upper-social .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .upper-social .controls .search {
  position: relative;
}

header .upper-social .controls .search i {
  width: 16px;
  height: 15px;
  position: absolute;
  color: #ededed;
}

header .upper-social .controls .search input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #ededed;
  background-color: #ffffff;
}

header .upper-social .controls .search input::-webkit-input-placeholder {
  color: #ededed;
}

header .upper-social .controls .search input:-ms-input-placeholder {
  color: #ededed;
}

header .upper-social .controls .search input::-ms-input-placeholder {
  color: #ededed;
}

header .upper-social .controls .search input::placeholder {
  color: #ededed;
}

header .upper-social .controls .search input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 1px solid #b10058;
}

header .upper-social .controls .notification-lang {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 0;
  width: 100px;
}

header .upper-social .controls .notification-lang li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #0088ce;
  text-align: center;
  position: relative;
}

header .upper-social .controls .notification-lang li:hover {
  background-color: #0088ce;
}

header .upper-social .controls .notification-lang li:hover i,
header .upper-social .controls .notification-lang li:hover a {
  color: #fff;
  text-decoration: none;
}

header .upper-social .controls .notification-lang li i {
  font-size: 16px;
  color: #0088ce;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .upper-social .controls .notification-lang li .lang {
  width: 14px;
  height: 22px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  text-align: center;
  color: #0088ce;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .upper-social .controls .log-reg {
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .upper-social .controls .log-reg button {
  font-size: 14px;
  margin-left: -1px;
  margin-right: -1px;
}

header .upper-social .controls .log-reg button:hover {
  opacity: 0.9;
}

header .upper-social .controls .log-reg .loginBtn {
  width: 100px;
  background: #fff;
  color: #b10058;
  border: 1px solid #b10058;
}

header .upper-social .controls .log-reg .registerBtn {
  width: 100px;
  background: #b10058;
  color: #fff;
  border: 1px solid #b10058;
}

header .upper-social .social-icons {
  list-style: none;
  width: 240px;
  padding: 17px;
  position: relative;
  margin: 0;
}

header .upper-social .social-icons li {
  width: 25px;
  height: 25px;
  background: #0088ce;
  position: relative;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

header .upper-social .social-icons li:hover {
  background-color: #b10058;
}

header .upper-social .social-icons li i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav {
  height: 50px;
}

header nav #navbarText {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav #navbarText .nav-link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

header nav #navbarText .nav-link:hover {
  opacity: 0.8;
  color: #0088ce;
}

.top-left-btn-bg {
  display: inline-block;
  padding: 5px 20px;
  background: url(../img/top-left-btn-bg.svg) center center no-repeat;
  background-size: cover;
  border-radius: 25px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #fff;
  position: ABSOLUTE;
  top: 67px;
}

.top-left-btn-bg:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.btn-brand {
  background: #b10058;
  color: #fff;
  font-size: 14px;
  border-radius: 25px;
  min-width: 160px;
  text-align: center;
}

.btn-brand:hover {
  color: #fff;
  border: 1px solid #fff;
}

.type-radio .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #ffffff;
  border: 2px solid;
  background-color: #007bff;
}

.type-radio .custom-radio {
  padding-bottom: 15px;
}

.type-radio .custom-radio label {
  color: #fff;
}

select,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
textarea {
  border-radius: 25px !important;
}

main .title-section {
  position: relative;
  margin-top: 40px;
}

main .title-section h2 {
  font-size: 26px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

main #carousel-wrapper {
  height: 600px;
}

main #carousel-wrapper #myCarousel,
main #carousel-wrapper #myCarousel .carousel-item,
main #carousel-wrapper #myCarousel .carousel-item img {
  height: 600px;
  position: relative;
}

main #carousel-wrapper #myCarousel .carousel-item .banner-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption {
  max-width: 60%;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption h1 {
  font-size: 28px;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption p {
  font-weight: 300;
  font-size: 14px;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption .caption-btn {
  text-align: right;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption .caption-btn a {
  width: 160px;
  border-radius: 25px;
  background-color: #005fab;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  letter-spacing: 0.39px;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption .caption-btn a:hover {
  background-color: #b10058;
}

main #carousel-wrapper #myCarousel .carousel-indicators {
  bottom: 50px !important;
}

main #carousel-wrapper #myCarousel .carousel-indicators li {
  width: 5px !important;
  height: 5px !important;
  border-radius: 100% !important;
  margin: 0 10px;
  background: transparent;
  border: 1px solid #fff;
}

main #carousel-wrapper #myCarousel .carousel-indicators li.active {
  background: #fff;
}

main #carousel-wrapper aside {
  background-image: url(../img/image-bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

main #carousel-wrapper aside .location-select {
  padding-bottom: 15px;
}

main #carousel-wrapper aside .sale-rent {
  width: 220px;
  margin-bottom: 15px;
}

main #carousel-wrapper aside .sale-rent label {
  border-radius: 25px;
  width: 100px;
  border: 1px solid;
  background: transparent;
}

main #carousel-wrapper aside .sale-rent label.active {
  background: #fff;
  color: #0088ce;
}

main .properties-list {
  margin-top: 40px;
}

main .properties-list .property-item {
  text-align: center;
  max-width: 280px;
  margin: auto;
  position: relative;
  margin: 20px;
}

main .properties-list .property-item .pBlock {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main .properties-list .property-item .pBlock:hover .property-pic {
  border-radius: 30px;
  -webkit-box-shadow: 0 0 15px 0px #CCC;
          box-shadow: 0 0 15px 0px #CCC;
}

main .properties-list .property-item .pBlock:hover .property-size {
  border-radius: 50%;
  background: #fff;
  color: #0088ce;
}

main .properties-list .property-item .property-size {
  position: absolute;
  bottom: 0;
  background: #0088ce;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 8px 15px;
  line-height: 16px;
}

main .properties-list .property-item .property-size small {
  display: block;
  font-size: 14px;
}

main .properties-list .property-item .property-pic {
  border-radius: 12px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

main .properties-list .property-item .property-pic:hover {
  opacity: 0.9;
}

main .properties-list .property-item .property-name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

main .properties-list .property-item .property-desc {
  color: #000;
  letter-spacing: 0.2px;
  font-size: 13px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

main .properties-list .property-item .property-tags {
  padding: 0 20px;
}

main .properties-list .property-item .property-tags span {
  border-radius: 11.5px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
}

main .properties-list .property-item .property-tags .prim-tag,
main .properties-list .property-item .property-tags .sec-tag {
  margin: 4px;
  color: #0088ce;
  font-weight: bold;
  display: inline-block;
  padding: 2px 4px;
}

main .properties-list .property-item .property-tags .prim-tag {
  background-color: #a3d4ff;
}

main .properties-list .property-item .property-tags .sec-tag {
  background-color: #ededed;
}

main .properties-list .fig-caption .bg-brand1,
main .properties-list .fig-caption .bg-brand2 {
  color: #fff;
  padding: 0 8px;
  margin-bottom: 10px;
}

main .properties-list .fig-caption .bg-brand1 {
  background-color: #b10058;
}

main .properties-list .fig-caption .bg-brand2 {
  background-color: #b10058;
}

main .see-more {
  font-size: 18px;
  color: #b10058;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  margin: auto;
  border: 1px solid #b10058;
  border-radius: 25px;
  padding: 10px 80px;
  margin: 20px 0 40px 0;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main .see-more:hover {
  text-decoration: none;
  background: #b10058;
  color: #fff;
}

main .see-more img {
  width: 12px;
}

main #properties-wrapper .carousel {
  padding-bottom: 40px;
}

main #properties-wrapper .carousel-indicators {
  bottom: 30px;
}

main #properties-wrapper .carousel-indicators li {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100% !important;
  margin: 0 7px;
  background: #fff;
  border: 1px solid #CCC;
}

main #properties-wrapper .carousel-indicators li.active {
  width: 8px !important;
  height: 8px !important;
  background: #CCC;
  border: 1px solid #CCC;
}

main #latest-offers {
  border-top: 2px solid #f5f5f5;
}

main #latest-offers h2 {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
}

main #latest-offers .loBlock {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #latest-offers .loBlock:hover .offer-caption {
  height: 100%;
  padding-top: 35%;
}

main #latest-offers .offer-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background: rgba(0, 95, 171, 0.75);
  color: #fff;
  z-index: 10;
  -webkit-transition: all 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

main #latest-offers .offer-caption.alternate {
  background: rgba(177, 0, 88, 0.75);
}

main #latest-offers .offer-caption h4 {
  font-weight: 500;
  font-size: 18px;
}

main #latest-offers .offer-caption p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

main .latestOffersSection {
  padding: 40px 0;
}

main .latestOffersSection .newTag,
main .latestOffersSection .offTag {
  display: inline-block;
  padding: 3px 8px;
  position: absolute;
  top: 0;
  font-weight: bold;
  color: #fff;
  z-index: 11;
}

main .latestOffersSection .newTag {
  background-color: #b10058;
  padding: 6px 20px;
}

main .latestOffersSection .offTag {
  border-radius: 50%;
  margin: 20px;
  background-color: #be873d;
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 36px;
}

main .latestOffersSection .offTag small {
  display: block;
  line-height: 0;
}

main #subscribe {
  text-align: center;
  background: url(../img/subscribe_bg.png) center center no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 40px 0;
  margin: 40px 0;
}

main #subscribe h2 {
  margin: 20px 0 40px 0;
}

main #subscribe h2 small {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  margin-top: 10px;
}

main #subscribe .subscribe-fields input {
  margin-bottom: 20px;
}

main #services {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 40px;
  padding: 20px 0;
}

main #services .title-section {
  margin-top: 30px;
}

main #services .properties-list .property-item {
  margin: auto;
  cursor: pointer;
}

main #services .properties-list .property-item:hover .property-pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #services .properties-list .property-item:hover h3 {
  color: #0088ce;
}

main #services .properties-list .property-item .property-pic {
  border-radius: 0;
  width: auto;
  height: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main #services .properties-list .property-item .property-name {
  font-size: 18px;
  padding-top: 10px;
}

main #announcements {
  text-align: center;
}

main #announcements .properties-list {
  color: #000;
}

main #announcements .properties-list .property-item {
  display: inline-block;
  position: relative;
  margin: 10px;
}

main #announcements .properties-list .property-item .property-size {
  top: 3px;
  bottom: auto;
}

main #announcements .properties-list .property-item .property-tag {
  position: absolute;
  top: 0;
  display: inline-block;
}

main #announcements .properties-list .property-item .property-pic {
  border-radius: 12px;
  width: 100%;
  height: 200px;
  border: 3px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main #announcements .properties-list .property-item .property-pic:hover {
  border-color: #0088ce;
}

main #announcements .properties-list .property-name {
  font-size: 18px;
  font-weight: 600;
}

main #announcements .properties-list .property-desc {
  letter-spacing: 0.2px;
  font-size: 13px;
}

main #announcements .properties-list .property-tags {
  padding: 0 20px;
}

main #announcements .properties-list .property-tags span {
  border-radius: 11.5px;
  width: 85px;
  height: 20px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

main #announcements .properties-list .property-tags .prim-tag,
main #announcements .properties-list .property-tags .sec-tag {
  margin: 4px;
  color: #0088ce;
  font-weight: bold;
}

footer {
  background: #4a4a4a url(../img/footer-bg.svg) center center no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding: 40px 0;
  color: #FFF;
}

footer .top-left-btn-bg {
  display: none;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

footer .subscribe-fields {
  padding: 0 20px;
}

footer .subscribe-fields input {
  margin-bottom: 10px;
}

footer .subscribe-fields .action-btn {
  padding-top: 10px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li,
footer ul li a {
  margin: 5px 0;
  display: block;
  color: #EEE;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
}

footer ul li:hover,
footer ul li a:hover {
  color: #FFF;
}

footer .socialIcons a {
  width: 38px;
  height: 38px;
  padding: 4px;
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  display: inline-block;
  color: #0088ce;
}

footer .socialIcons a:hover {
  background: #b10058;
  color: #FFF;
}

footer .social-feed-block {
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

footer .social-feed-block-content {
  max-height: 200px;
  overflow: auto;
}

.chatBox,
.chatBox .chat {
  position: fixed;
  bottom: 20px;
  z-index: 999;
}

.chatBox .openChat {
  border-radius: 100%;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.chatBox .openChat:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.chatBox .chat .card {
  min-height: 400px;
  min-width: 320px;
}

.chatBox .bg-brand {
  background-color: #b10058;
  color: #fff;
}

@media (max-width: 991.98px) {
  header .upper-social .controls .search {
    position: ABSOLUTE;
    top: 68px;
  }
  header nav {
    height: auto;
  }
  header nav #navbarText {
    position: relative;
    z-index: 11111;
    background: #fff;
    padding: 30px;
  }
  main #carousel-wrapper {
    height: auto;
  }
  main #carousel-wrapper #myCarousel,
  main #carousel-wrapper #myCarousel .carousel-item,
  main #carousel-wrapper #myCarousel .carousel-item img {
    height: 400px;
  }
  main .properties-list .property-item {
    margin: 0 auto;
  }
  main .latestOffersSection {
    padding: 20px 0;
  }
  main .see-more {
    margin: 20px 0;
  }
  main #services .title-section {
    margin-top: 20px;
  }
  main #latest-offers .loBlock {
    height: 300px;
    margin-bottom: 20px;
  }
  main #latest-offers .loBlock img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 767.98px) {
  header .upper-social .social-icons, header .top-left-btn-bg {
    display: none !important;
  }
  header .upper-social {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  footer .top-left-btn-bg {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
  }
}

@media (max-width: 575.98px) {
  header .upper-social .controls .log-reg, header .upper-social .controls .log-reg .loginBtn, header .upper-social .controls .log-reg .registerBtn {
    width: auto;
  }
  header .upper-social .controls .notification-lang {
    width: auto;
    padding: 5px;
  }
  header .upper-social .controls .search input {
    width: 145px;
  }
  header .upper-social .controls .notification-lang li {
    margin: 2px;
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */