/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
body {
  font-family: "Poppins", san-serif;
}

header .navbar-brand {
  left: 65px;
}

header .upper-social .controls {
  margin-right: 60px;
}

header .upper-social .controls .search i {
  right: 20px;
}

header .upper-social .controls .log-reg .loginBtn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

header .upper-social .controls .log-reg .registerBtn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

header .upper-social .social-icons {
  left: 180px;
}

header nav #navbarText {
  margin-right: 60px;
  padding-left: 184px;
}

.top-left-btn-bg {
  left: 200px;
}

.action-btn {
  text-align: right;
}

main .title-section h2 {
  margin: 48px 0 0 -60px;
}

main #carousel-wrapper #myCarousel .carousel-item .banner-overlay {
  left: 0;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption {
  left: 70px;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption .caption-btn {
  text-align: right;
}

main #carousel-wrapper #myCarousel .carousel-indicators {
  right: 0 !important;
  left: auto !important;
  margin-right: 10% !important;
}

main #carousel-wrapper aside .sale-rent label:first-child {
  margin-right: 15px;
}

main .properties-list .property-item .property-size {
  right: 0;
  border-radius: 0 0 12px 0;
}

main .properties-list .property-item .property-desc {
  text-align: left;
}

main .properties-list .property-item .property-desc img {
  margin-right: 9px;
}

main .properties-list .fig-caption {
  text-align: left;
}

main .see-more img {
  margin-left: 3px;
}

main .latestOffersSection .newTag {
  border-radius: 0 0 10px 0;
  left: 0;
}

main .latestOffersSection .offTag {
  right: 0;
}

main #announcements .properties-list .property-item .property-size {
  right: 2px;
  border-radius: 0 12px 0 0;
}

main #announcements .properties-list .property-item .property-tag {
  left: 0;
}

main #announcements .properties-list .property-desc img {
  margin-right: 9px;
}

.chatBox,
.chatBox .chat {
  right: 20px;
}

@media (max-width: 1199.98px) {
  header .upper-social .social-icons {
    left: 160px;
  }
  .top-left-btn-bg {
    left: 175px;
  }
  header nav #navbarText {
    margin-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 991.98px) {
  header .upper-social .controls .search {
    right: 100px;
  }
  header nav #navbarText {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  header .navbar-brand {
    left: 20px;
  }
  header .upper-social .controls {
    margin-right: 20px;
  }
  footer .top-left-btn-bg {
    left: 0;
  }
}
/*# sourceMappingURL=stylesEn.css.map */