/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
body {
  font-family: "Poppins", san-serif;
}

header .navbar-brand {
  right: 65px;
}

header .upper-social .controls {
  margin-left: 60px;
}

header .upper-social .controls .search i {
  left: 20px;
}

header .upper-social .controls .log-reg .loginBtn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

header .upper-social .controls .log-reg .registerBtn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

header .upper-social .social-icons {
  right: 180px;
}

header nav #navbarText {
  margin-left: 60px;
  padding-right: 184px;
}

.top-left-btn-bg {
  right: 200px;
}

.action-btn {
  text-align: left;
}

main .title-section img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

main .title-section h2 {
  margin: 48px -60px 0 0;
}

main #carousel-wrapper #myCarousel .carousel-item .banner-overlay {
  right: 0;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption {
  right: 70px;
}

main #carousel-wrapper #myCarousel .carousel-item .carousel-caption .caption-btn {
  text-align: left;
}

main #carousel-wrapper #myCarousel .carousel-indicators {
  left: 0 !important;
  right: auto !important;
  margin-left: 10% !important;
}

main #carousel-wrapper aside .sale-rent label:first-child {
  margin-left: 15px;
}

main .properties-list .property-item .property-size {
  left: 0;
  border-radius: 0 0 0 12px;
}

main .properties-list .property-item .property-desc {
  text-align: right;
}

main .properties-list .property-item .property-desc img {
  margin-left: 9px;
}

main .properties-list .fig-caption {
  text-align: right;
}

main .see-more img {
  margin-right: 3px;
}

main .latestOffersSection .newTag {
  border-radius: 0 0 0 10px;
  right: 0;
}

main .latestOffersSection .offTag {
  left: 0;
}

main #announcements .properties-list .property-item .property-size {
  left: 2px;
  border-radius: 12px 0 0 0;
}

main #announcements .properties-list .property-item .property-tag {
  right: 0;
}

main #announcements .properties-list .property-desc img {
  margin-left: 9px;
}

.chatBox,
.chatBox .chat {
  left: 20px;
}

@media (max-width: 1199.98px) {
  header .upper-social .social-icons {
    right: 160px;
  }
  .top-left-btn-bg {
    right: 175px;
  }
  header nav #navbarText {
    margin-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991.98px) {
  header .upper-social .controls .search {
    left: 100px;
  }
  header nav #navbarText {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  header .navbar-brand {
    right: 20px;
  }
  header .upper-social .controls {
    margin-left: 20px;
  }
  footer .top-left-btn-bg {
    right: 0;
  }
}
/*# sourceMappingURL=stylesAr.css.map */